.userleftbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.userleftbar .s1, .userleftbar .s2 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.userleftbar svg {
    width: 30px;
    height: 30px;
    color: gray;
}

.userleftbar .s2 {
    background-color: rgb(83, 208, 245);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(250, 250, 250);
}



