/* QuestionPage.css */

.question-page-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #ADD8E6;
}

h2 {
  font-size: 10px;
  color: #333;
}

.question-list-container {
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.question-list {
  list-style: none;
  padding: 0;
}

.question-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.question-item:hover {
  background-color: #e2f6f8;
}

.delete-button {
  background-color: #ff3333;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
}
.add-button {
  background-color: #6c0583dc;
  color: #f8f8f8;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 60px;
  margin-left: 8px;
}
.delete-button:hover {
  background-color: #cc0000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  overflow: auto;
}
.modal-card p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}
.modal-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

/* You can remove styles that are not used in your component */

